#users-card {
  width: 100%;
  max-width: 426px;
  background-color: var(--color-head);
  padding: 26px;
  margin-top: 8px;
  border-radius: 3px;
  h3 {
    margin-bottom: 4px;
  }
  div {
    display: flex;
    align-items: center;
    margin-top: 6px;
    p {
      margin-left: 3px;
      color: #db4e4e;
      font-weight: 600;
    }
  }
  .header-card {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    h3 {
      margin-bottom: 0;
    }
    div{
      margin-top: 0;
    }
    .buttons-content {
      width: 100%;
      max-width: 80px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}